<div class="bg-footer padding-footer">
  <div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-3">
          <h5>About</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">History</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our team</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Brand Guidelines</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Terms & Conditions</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
          </ul>
        </div>
  
        <div class="col-3">
          <h5>Services</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">How to Order</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our Product</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Order Status</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Promo</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Payment Method</a></li>
          </ul>
        </div>
  
        <div class="col-4 offset-1">
          <form>
            <h5 class="text-rigth">Title Here</h5>
            <p class="text-rigth">Lorem ipsum dolor sit amet, consectetur.</p>
            <div class="d-flex w-100">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control bg-orange input-footer">
              <button class="btn btn-primary bg-blue input-footer input-footer-button" type="button"><i class="bi bi-send"></i></button>
            </div>
          </form>
          <div class="d-flex justify-content-end my-4">
            <ul class="list-unstyled d-flex">
              <li class="ms-3 round"><a class="link-dark" href="#"><i class="bi bi-instagram"></i></a></li>
              <li class="ms-3 round"><a class="link-dark" href="#"><i class="bi bi-facebook"></i></a></li>
              <li class="ms-3 round"><a class="link-dark" href="#"><i class="bi bi-twitter"></i></a></li>
              <li class="ms-3 round"><a class="link-dark" href="#"><i class="bi bi-whatsapp"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
  
      
    </footer>
  </div>
</div>